@forward 'base'
@forward 'components'
@use 'base/_typography' as typo 
@use 'utils/_colors' as color

// TODO: reubicar variable en otra carpeta/archivo
$gap: .5rem

html
    font-family: typo.$font-family
    font-size: typo.$font-size
    background-color: color.$secondary-color

body
    height: 200vh
