---
import Layout from "../layouts/Layout.astro";
import { Text, Paragraph } from "../components/index";
---

<Layout title="Home">
	<header class="main-header">
		<Text animation={["end start", "start start"]} client:load>
			<h1 class="main-header__title">Racoon Attack</h1>
		</Text>
	</header>
	<div>
		<Paragraph client:load>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
			officia a, ea aliquid fugit itaque fugiat facere molestias? Aliquam
			harum nemo unde, cupiditate perferendis quis explicabo voluptates
			asperiores quos atque inventore saepe. Nostrum laudantium quo natus
			voluptate voluptates sit saepe possimus quasi facilis animi nulla
			tenetur alias, ratione maiores illum!
		</Paragraph>
	</div>
</Layout>

<style>
	div {
		margin-top: 5rem;
	}
</style>
