---
import { Head, Nav, SmoothScroll } from "./../components/index";
import "./../styles/styles.sass";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <Head title={title} />
    <body>
        <SmoothScroll client:load>
            <slot />
            <Nav />
        </SmoothScroll>
    </body>
</html>
